rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function userBranch() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.branchId;
    }

    function belongsToBranch(branchId) {
      return isSignedIn() && userBranch() == branchId;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /branches/{branchId}/{document=**} {
      allow read, write: if belongsToBranch(branchId);
    }
  }
}
